@model IEnumerable<plataformaordemdeservico.Models.Monitores>

@{
    ViewData["Title"] = "IndexMonitores";
}

<h1>IndexMonitores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_mon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo_mon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.polegadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao_mon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anexo_mon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_mon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelo_mon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.polegadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao_mon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anexo_mon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
